@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-Regular.ttf");
}
body {
  background: #f2f2f2f2;
  color: black;
  font-family: "Nunito" !important;
}
.content {
  max-width: 960px;
  margin: 0 auto;
}
nav {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}
nav a {
  margin-left: 13px;
  text-decoration: none;
  font-weight: bolder;
  color: black;
}
nav .logo {
  margin-right: auto;
}
footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
}
.errorpage {
  text-align: center;
}
.errorpage a {
  color: #4979ff;
  text-decoration: underline;
}
